.product{
    display: flex;
    flex-direction: column;
    justify-content: safe start;
    div{
        position: relative;
        padding: 0;
    }
}
img{
    aspect-ratio: 1/1;
}
.products-container{
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,
        minmax(200px, 0.8fr));
}
.prodStatus{
    position: absolute;
    padding: 7px;
    text-transform: capitalize;
    left: 10px;
    bottom: 8px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 3/1.3;
}