.la-shopping-cart {
  font-size: 33px;
}

.cart-container {
  position: relative;
  flex: 0 0%;
}

nav {
  font-size: 15px;
  position: relative;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.animation-top {
  animation: slideToUp 0.6s ease-in;
}

.animation-down {
  animation: slideToDown 0.6s ease-in;
}

.counter-cart {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--color-principal);
  top: 1px;
  right: 10px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  font-weight: 300;
}

.btn-user {
  position: fixed;
  top: 5vh;
  animation: slideToUp 0.5s ease-in;
  z-index: 20;
  left: 2%;
  background-color: white;
}

.btn-user i {
  font-size: 25px;
  color: var(--color-principal);
}

.header-fixed {
  position: fixed;
  top: 2vh;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 15;
  box-shadow: 0 0 10px var(--color-principal);
}

@media screen and (min-width: 1400px) and (max-width: 1460px),
screen and (min-width: 990px) and (max-width: 1055px),
screen and (min-width: 768px) and (max-width: 855px),
screen and (min-width: 576px) and (max-width: 668px) {
  .navbar {
    width: 80%;
  }
}